.body{
    margin: 1em;
}

h1, label{
    font-family: monospace;
}

ul{
    list-style-type: none;
    padding: 5px;
    margin: 0;
    font-family: monospace;

}

h1{
    background-color: hotpink;
    display: inline-block;
}

button{
    font-family: monospace;
    font-size: 14px;
}

li{
    display:flex;
    align-items: center;
    margin-top: 0.5em;
    
}

li button{
    margin-left: 300px;

}

li input{
    margin-right: 15px;
}

label{
    font-size: 16px;
}

