*{
    /* background-color:  rgb(250, 250, 250); */
    box-sizing: border-box;
}

.header_insta{
   /* padding: 0,25em 1em; */
    display: flex;

}

.logo{
    margin-left: 90px;
}

.logo, .my_photo_header, .search{
    /* display: inline; */
    align-items: center;
   
}


.my_photo_header{
    border-radius: 50%;
    margin-left: 80px;
}