
   * {
        display: block;
        padding: 6px;
    }

title{
    text-align: center;
    background-color: #cebbb7;
    padding: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

